.header h1 {
  font-size: 5.625rem;
  line-height: 4.375rem;
  margin: 0.325em;
}
.header > p {
  font-size: 1.125rem;
  line-height: 1rem;
  margin: 0;
}

.header {
  text-align: center;
}

.maxWidth {
  max-width: 1400px;
}

.header hr {
  max-width: 72%;
}

.footer p {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.footer {
  margin-top: 2rem;
}

.linkBox {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style-type: none;
  padding: 0;
}

.linkBox > li,
.article > a {
  padding: 0.5em;
  transition: all 150ms;
  cursor: pointer;
}
.linkBox > li:hover,
.article > a:hover {
  background-color: #1a1c1a;
  color: #f3dfc1;
  border-radius: 0.5em;
}
