.colSpan {
  grid-column: span 2;
}

.colSpan {
  grid-column: span 2;
}

.article {
  height: 100%;
  width: 100%;
}

.rowspan {
  grid-row: span 2;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
}

@media (min-width: 480px) {
  .mainGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .mainGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
